<div class="container mb-5 mt-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Apagar tema</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3 text-center">
            <h4>Tem certeza em apagar isto? (isso conta para todas as outras postagens com o mesmo tema)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">tema: {{tema.descricao}}</h5>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-m2-12 ">
            <button class="btn btn-info" routerLink='/tema'>Cancelar</button>
            <button class="btn btn-danger" (click)='apagar()'>Sim, apagar</button>
        </div>
    </div>
</div>